[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hello-4s3ti"]
	path = themes/hello-4s3ti
	url = https://github.com/4s3ti/hugo-theme-hello-4s3ti.git
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
